/* You can add global styles to this file, and also import other style files */


body{
    background-image: url(https://www.desktopbackground.org/download/o/2011/05/19/205586_ultra-hd-4k-aviation-wallpapers-hd-desktop-backgrounds-3840x2400_3840x2400_h.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
